.SelectedProject{
    display: grid;
    grid-template-columns: 65%;
    justify-content: space-evenly;
}

.SelectedProject .Background{
    background-color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 1.5rem;
    margin: 2rem 0;   
}

.SelectedProject .Image {
    text-align: center;
}

.SelectedProject .Image img{
    width: 85%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 0.6rem;
    border-radius: 0.28rem;
}

.SelectedProject .Image img:hover{
    transform: scale(1.009);
    transition: all 450ms ease-in-out;
    opacity: 0.7;
}

.SelectedProject .Header {
    margin: 2rem 0;
    text-align: center;
}

.SelectedProject .Header h1{
    font-size: 2rem;
    color: #212338;
}

.SelectedProject .Header p{
    font-size: 0.9rem;
}

.SelectedProject .Body{
    margin: 2rem 0 3rem 0;
    color:  #212338;
}

.SelectedProject .About{
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-evenly;
    margin: 1.2rem 0;
    text-align: center;
    color:  #212338;
}

.SelectedProject .ProjectType, 
.SelectedProject .BuiltWith,
.SelectedProject .UsefulLinks {
    margin: 1rem 0;
    color: #212338;
}

.SelectedProject .ProjectType ul li a, 
.SelectedProject .BuiltWith ul li a,
.SelectedProject .UsefulLinks ul li a,
.SelectedProject .Body p a {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 450ms ease-in-out;
}

.SelectedProject .ProjectType ul li a:hover, 
.SelectedProject .BuiltWith ul li a:hover,
.SelectedProject .UsefulLinks ul li a:hover,
.SelectedProject .Body p a:hover {
    border-bottom: 2px solid black;
}

@media (max-width: 991px){
    .SelectedProject{
        grid-template-columns: 75%;
    }

    .SelectedProject .Image img{
        width: 90%;
    }
}